xmls/Doctor.dtd

<!--
The type of the attribute "id" of Employee needs
to be CDATA instead of ID, since DTD doesn't allow
IDs that start with a number
-->
<!DOCTYPE Doctor [
   <!ATTLIST Doctor name CDATA #REQUIRED
                  	surname CDATA #REQUIRED>
   <!ELEMENT Doctor (dob, speciality, salary, Hospital)>
   <!ELEMENT dob (#PCDATA)>
   <!ELEMENT speciality (#PCDATA)>
    <!ELEMENT salary (#PCDATA)>
   <!ELEMENT Hospital (#PCDATA)>
]>