xmls/Patient.dtd

<!--
The type of the attribute "id" of Employee needs
to be CDATA instead of ID, since DTD doesn't allow
IDs that start with a number
-->
<!DOCTYPE Patient [
   <!ELEMENT Patient (dob, Hospital)>
   <!ATTLIST Patient name CDATA #REQUIRED
                     surname CDATA #REQUIRED>
   <!ELEMENT dob (#PCDATA)>
   <!ELEMENT Hospital (#PCDATA)>
]>